/*Author: Noah Grossman*/

@font-face {
	font-family: "Komika Axis";
	src: url("../fonts/komikaAxis.ttf");
}
@font-face {
	font-family: "Myriad Std Sketch";
	src: url("../fonts/MyriadStd-Sketch.otf");
}
body {
    margin: auto;
}
p#descriptor {
    font-size: 55px;
    font-weight: 200;
    font-family: Lato, Monaco;
}
.delay {
    -webkit-animation-duration: 1.3s;
    -moz-animation-duration: 1.3s;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
}

.hero {
	background:url(../images/surfboard.jpg) no-repeat center;
	background-size: 100%;
}
@media only screen and (max-width: 985px) {
	.hero {
		background-size:cover;
	}
	.nav-bar {
		text-align: center;
	}
}
.button-group>li>button, .button-group>li .button {
	font-size: 18px;
}
.namelogo h1 {
	font-size: 22px;
}
#navButtons {
	margin-top: 6px;
}
.intro-text {
	padding-top:50%;
	color:rgba(255,255,255,1);
	text-align:center;
}
@media only screen and (min-width: 40.063em) {
	.intro-text {
		padding-top:30%;
	}
	.content {
		width: 204.7%;
	}
	dd:nth-child(even) > .content {
	    margin-left: -105.7%;
	}
	
}
@media only screen and (min-width: 64.063em) {
	.intro-text{
		padding-top:28%;
	}
	.content {
		width: 313%;
	}
	dd:nth-child(3n+1) > .content {
	    margin-left: 0;
	}
	dd:nth-child(3n+2) > .content {
	    margin-left: -106.4%;
	}
	dd:nth-child(3n) > .content {
	    margin-left: -213%;
	}
	
}
#facePic {
	text-align: center;
}

/*.accordion .accordion-navigation>a, .accordion dd>a {
	height: 210px;
}*/
img.works {
	height: auto;
}


/*Caption.js styling*/

.captionjs figcaption {
	font-size: 13px;
	line-height: 1.5;
	padding: 10px 15px;
	border: 1px solid #ddd;
	border-top: none;
	background-color: #eee;
}
.captionjs.stacked figcaption {
	background-color: rgba(0, 0, 0, 0.75);
	color: #fff;
	border: none;
}
.captionjs.animated figcaption {
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	background-color: rgba(0, 0, 0, 0.75);
	color: #fff;
	border: none;
}
.captionjs.hide figcaption {
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	background-color: rgba(0, 0, 0, 0.75);
	color: #fff;
	border: none;
}
.captionjs a {
	color: #fff;
}
.captionjs.default a {
	color: #000;
}

img.screenshot:hover {
    opacity:1 !important;
}

h5 {
	color: #fff;
	text-align: center;
	margin: auto;
	margin-bottom: 2px;
}
p.cap {
	text-align: center;
	margin: auto;
	font-size: 13px;
}

.multiPic{
	background-repeat: no-repeat;
	background-size: 100%;
}
#dash_1 {
	background-image: url(../images/screenshots/dash_1_overlay.png);
}
#dash_2 {
	background-image: url(../images/screenshots/dash_8_editor.png);
}
#nami_1 {
	background-image: url(../images/screenshots/nami_before.png);
}
#waad {
	background-image: url(../images/screenshots/waad.jpg);
}
.multiPic img {
	opacity: 0;
}
.multiPic img:hover {
	opacity: 1;
}

.content {
	padding: 25px !important;
	padding-bottom: 15px !important;
}
.multiPic, .screenshotContainer {
/*img.screenshot {*/
	margin: 35px auto !important;
}
.content li {
	height: initial;
	overflow: initial;
	margin-left: 15px;
}
.content a:hover {
	opacity: 0.7;
}

img#freshAirConcept {
	width: 60% !important;
	margin: auto !important;
}
figcaption {
	bottom: -26px;
}
#speedyChalupaModal {
	width: 190px;
}