body{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
        'Helvetica-Light', Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: #2d2c2c;
    color: #eeeeee;
    font-size: 13pt;
    min-width: 854px;
}
h1.pageHead {
    text-align: center;
    color: #a3dbd7;
    background-color: #20777f;
    margin: auto;
    padding: 2px;
    text-shadow:2px 2px 2px #373636;
    letter-spacing: 1px;
    font-size: 2.2em;
    border-radius: 3px;
}
.navbar {
    list-style-type: none;
    margin: 8px auto auto auto;
    padding: 10px 0px;
    text-align: center;
    font-size: 1.3em;
    text-shadow: 0 0 4px #373636;
    background-color: #d7b072;
    border-radius: 3px;
}
.navbar li {
    display: inline;
    padding:.9em;
}
.navbar a:link, .navbar a:visited {
    color: #f9f3ea;
    text-decoration: none;
}
.navbar a:hover {
    color: #ffffff;
}
.navbar a:active {
    color: #f3e8d6;
    top: 1px;
}
hr {
    margin-bottom: auto;
}
.section hr {
    margin-top: auto;
}
li.description {
    line-height: 120%;
    margin-top:.2em;
    margin-left: 15px;
    margin-bottom: auto;
    width: 85%;
    list-style-type: none;
    text-align: justify;
}
#top {
    width: 100%;
    height: 400px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 50px;
    
}
.half, .half2 {
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
    margin: 20px auto;
}
.half2 {
    width: 45%;
    margin-right: 30px;
}
.half p {
    max-width: 500px;
    margin-right: 30px;
    text-align: justify;
    margin-left: 25px;
}
#pg1 {
    max-width: 625px;
}
#center {
    width:325px;
    margin: auto;
    display: block;
    border-radius: 200px;
}
h1 #home {
    margin-top:40px;
}
h1 {
    letter-spacing: .5px;
    margin-bottom: auto;
    
    text-decoration: none;
}
.section h1 {
    font-size: 2.1em;
}
h3 {
    letter-spacing: .5px;
    margin-bottom: auto;
    color: #d7b072;
    text-decoration: none;
}
a:link {        /* unvisited link */
    color: #e5981b;
    text-decoration: none;
}        
a:visited {     /* visited link */
    color: #d7b072;
    text-decoration: none;
}      
a:hover {       /* mouse over link */
    color:#ffd694;
    text-decoration: none;
}
a:active {      /* selected link */
    color:#d1a55e;
    text-decoration: none;
    position: relative;
    top: 1px;
}
.section {
    background-color: #373636;
    position: relative;
    width: 1020px;
    margin: 15px auto;
    
    padding-top: 1px;
    border-radius: 3px;
    overflow: auto;
}
.chunk {
    position: relative;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    padding-bottom:1px;
}
.screenshot {
    margin-top: 12px;
    text-align: center;
    width:475px;
    box-shadow: 0px 0px 5px #2a2929;
}
a:hover .screenshot {
    opacity: .7;
}

#portfolio {
    text-align: center;
}
h2 {
    font-family: Palatino;
    font-size: 1.8em;
    color: #8cc2aa;
    text-shadow: 0px 0px 2px #000000;
    margin-bottom: auto;
    margin-top: .8em;
    text-align: center;
}
#index {
    text-align: left;
    padding-left: 30px;
}
ul {
    margin-top:.5em;
}
li {
    margin-top: .4em;
}
li.description {
    line-height: 120%;
    margin-top:.2em;
    margin-left: 15px;
    margin-bottom: auto;
    width: 85%;list-style-type: none;
    text-align: justify;
}
p {
    line-height: 145%;
    margin-top: 1em;
    text-align: justify;
}
.indent {
    margin-left: inherit;
    margin-top:.5em;
    width: 85%;
}

.leftText {
    float:left;
    width:60%;
    margin-right: 5%
}
.rightPics {
    float:left;
    width: 35%;
    margin-top:.5em;
}
.rightPics img {
    height:80%;
    width: 80%;
    margin-left: 5%;
    margin-bottom: 7%;
}
#bottom {
    height: 50px;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-bottom: 120px;
}
#bot {
    text-align: center;
}